@charset "utf-8";
/* CSS Document */
.nav-ul{
 margin:0px;
 padding:0px;
}
.nav-ul li{
 display:inline;
 list-style-type:none;
}
.nav-ul li a{
 float:left;
 display:block;
 padding:10px;
 color:#CCC;
 text-decoration:none;
}
.nav-ul li a:hover{ background:#FFF; color:#000; } 

